:root{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5rem;
    overflow-x: hidden;
}
header{
    background-color: #232323;
    padding: 2rem;
    overflow: hidden;
    width: 100vw;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #FFF;
    float: left;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    padding-left: 6rem;
    background-size: contain;
}
nav{
    float: right;
    overflow: hidden;
    margin-top: 0.5rem;
    margin-right: 4rem;
}
nav li{
    display: inline;
    margin:  0 1rem;;
}
nav li a {
    color: #FFF;
    text-decoration: none;
}
#noticiasdestacadas{
    width: 300vw;
    overflow: auto;
    animation: 15s slider infinite;
}
figure{
    float: left;
    width: 100vw;
}
figure img{
    width: 100%;
    display: block;
}
figcaption{
    background-color: #232323;
}
@keyframes slider{
    0%{margin-left: 0;}
    20% {margin-left: 0;}
    40%{margin-left: -100vw;}
    60%{margin-left: -100vw;}
    80%{margin-left: -200vw;}
    100% {margin-left: -200vw;}
}
figure h2{
    color: #FFF;
    font-weight: bold;
    font-size: 3rem;
    padding: 2rem;
    line-height: 100%;
}
#ultimasnoticias{
    width: 100%;
 
}
article{
    float: left;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
}
article img{
    width: 40%;
    float:left;
    display: block;
    margin: 1rem;
    overflow: auto;
}
article h3 {
    text-align: left;
    font-weight: 600;
    margin: 2rem;
    font-size: 3.5rem;
    line-height: 100%;
}
article h4 {
    text-align: left;
    margin: 2rem;
    font-size: 1.5rem; 
}
article p {
    text-align: left;
    margin: 4rem;
    line-height: 3rem;
    font-size: 2rem; 
}
#tabla{
    width: 100%;
    box-sizing: border-box;  
}
table{
    width: 60%;
    box-sizing: border-box;
    display: table;
    float: left;
    line-height: 3rem;
    background-color: rgba(170, 170, 235, 0.863);
    margin-left: 30rem;
    margin-bottom: 10rem;
}
caption{
    display: table-caption;
    background-color: red;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    font-size: 3rem;
    line-height: 100%;
}
table tr{
    display:table-row;
}
table td {
    display:table-cell;
	text-align: center;
    vertical-align: middle;
    color: rgb(10, 10, 10);
    font-size: 3rem;
    border-bottom: 1px solid rgba(109, 107, 107, 0.226);
}
table td p{
    color: black;
    text-align: left;
    font-size: 1.5rem;
    margin-left: 1rem;
}
table a{
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
}
table th{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid rgba(109, 107, 107, 0.226);

}