:root{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5rem;
    overflow-x: hidden;
}
header{
    background-color: #232323;
    padding: 2rem;
    overflow: hidden;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #FFF;
    float: left;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    padding-left: 6rem;
    background-size: contain;
}
nav{
    float: right;
    overflow: hidden;
    margin-top: 0.5rem;
}
nav li{
    display: inline;
    margin:  0 1rem;;
}
nav li a {
    color: #FFF;
    text-decoration: none;
}
#noticiasdestacadas{
    width: 300vw;
    overflow: auto;
    animation: 15s slider infinite;
}
figure{
    float: left;
    width: 100vw;
}
figure img{
    width: 100%;
    display: block;
}
figcaption{
    background-color: #232323;
}
@keyframes slider{
    0%{margin-left: 0;}
    20% {margin-left: 0;}
    40%{margin-left: -100vw;}
    60%{margin-left: -100vw;}
    80%{margin-left: -200vw;}
    100% {margin-left: -200vw;}
}
figure h2{
    color: #FFF;
    font-weight: bold;
    font-size: 4rem;
    padding: 2rem;
    line-height: 100%;
}
section{
    box-sizing: border-box;
    display: block;
}
article{
    box-sizing: border-box;
    padding: 2rem;
    overflow: hidden;
    width: 100%;
    /* outline: solid 1px rgba(88, 85, 85, 0.856); */
}
.imagenes{
    width: 40%;
    float:left;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
h3 {
    text-align: left;
    font-weight: 600;
    padding-left: 3rem;
}
article figure{
    width: 40%;
}