body{
    background: url(../img/fondoAv.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; /*imagen fija */
    background-size: 100vw 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: verdana;
    color: rgb(240, 226, 38);
    text-shadow: 0px 0px 20px rgb(202, 192, 199);
    font-size: 20px;
}
nav{
    width: 100%;
    overflow: hidden;
    background-color: rgba(126, 111, 111, 0.274);
    opacity: 0.9;
    line-height: 80px;
    margin:auto;

}
nav ul{
    list-style-type: none;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: orangered;
    font-size: 20px;
    font-family: Verdana;
    letter-spacing: 5px;
    padding: 10px;
    transition: all ease 0.5s;
}
nav ul li:hover a{
    background-color: palegoldenrod;
}
.logo{
    float: left;
    width:120px;/*valor inicial*/
    height: 100px;
    position: absolute;
    top:0;
    left:50%;
    content: "";
    margin-left: -60px;
}
a{
    color:pink;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}
a:hover {
    color:rgb(14, 170, 218);
    background-color: transparent;
}
#botonHulk{
    color:pink;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}
#botonHulk:hover {
    color:rgb(7, 143, 30);
    background-color:transparent;
}
#botonIron{
    color:pink;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}
#botonIron:hover {
    color:rgb(236, 16, 16);
    background-color:transparent;
}
#botonCap{
    color:pink;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}
#botonCap:hover {
    color:rgb(27, 3, 243);
    background-color:transparent;
}
.titulo{
    color:rgb(240, 160, 12);
    font-size: 60px;
    text-shadow: 0px 0px 20px rgb(202, 192, 199), 0px 0px 20px rgb(202, 17, 146), 0px 0px 20px rgb(202, 17, 146); /* primero X, distancia,difuminado (sombras) */
}